*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text_center{
    text-align: center;
}
.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl_30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn_primary{
    background-color: darkcyan;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn_primary:hover{
    background-color: #3742fa;
}

.btn_secondary{
    background-color: green;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn_primary:hover{
    background-color: lightgreen;
}

.btn_danger{
    background-color: red;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn_primary:hover{
    background-color: lightcoral;
}



/* CSS FOR MENU */
.menu{
   border-bottom: 1px solid grey;
   text-align: center;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: crimson;
}
.menu ul li a:hover{
    color: rgba(255, 0, 51, 0.856);
}

/* CSS FOR MAIN CONTENT */
.main_content{
    background-color: #f1f2f6;
    padding: 3% 0;
}
.col-4{
    width: 20%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* CSS FOR FOOTER */
.footer{
    background-color: crimson;
    color: white;
}

main{
    background-color: antiquewhite;
}

.image-display{
    width: 100%;
}